.background{
    background-image: url(../../assets/img/Enter_page_light.png);
    height: 100vh;
    background-repeat: no-repeat;
    background-position: top center;
    position: relative;
    width: 1440px;
    display: flex;
    align-items: center;
    justify-content: center;

    // filter: blur(15px);
}

.wrapper {
    display: flex;
    justify-content: center;
}